<div class="addnew">
  <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#AddModal">
    <i class="fa-solid fa-circle-plus"></i> Create new project
  </button>
</div>

<div class="container">
  <table class="table table-striped table-bordered" style="text-align: center;">
    <thead>
      <tr>
        <th>Project<br />label</th>
        <th>Budget<br />(€)</th>
        <th>Budget<br />status</th>
        <th>Workload<br />(days)</th>
        <th>Stard date</th>
        <th>E.end date</th>
        <th>Status</th>
        <th>N°resources</th>
        <th>Crucuality</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td>{{project.name}}</td>
        <td>{{project.budget}}</td>
        <td>
          <div *ngIf="project.budget_status === 'OK' "
            style="background: green;width: 1rem;height: 1rem;border-radius: 32px;margin: auto;border: solid;">&nbsp;
          </div>
          <div *ngIf="project.budget_status !== 'OK' "
            style="background: red;width: 1rem;height: 1rem;border-radius: 32px;margin: auto;border: solid;">&nbsp;
          </div>
        </td>
        <td>{{project.workload}}</td>
        <td>{{project.startDate}}</td>
        <td>{{project.endDate}}</td>
        <td>
          <div *ngIf="project.project_status === 'OK' "
            style="background: green;width: 1rem;height: 1rem;border-radius: 32px;margin: auto;border: solid;">&nbsp;
          </div>
          <div *ngIf="project.project_status !== 'OK' "
            style="background: red;width: 1rem;height: 1rem;border-radius: 32px;margin: auto;border: solid;">&nbsp;
          </div>
        </td>
        <td>{{project.total_ressources_number}}</td>
        <td>
          <div *ngIf="project.criticality === '1' " style="color: red;font-weight: 500;">[High]
          </div>
          <div *ngIf="project.criticality === '2' " style="color: orange;font-weight: 500;">[Medium]
          </div>
          <div *ngIf="project.criticality === '3' " style="color: green;font-weight: 500;">[Low]
          </div>
        </td>
        <td>
          <!-- boutons action-->


          <!-- Update Modal -->
          <div class="modal fade" id="UpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title" id="exampleModalLabel">Mettre a jour le projet</h2>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  <form>
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="form6Example1" class="form-control" [(ngModel)]="TempProject.name"  name="name"/>
                          <label class="form-label" for="form6Example1">Project Label</label>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="form6Example2" class="form-control" [(ngModel)]="TempProject.budget"  name="budget"/>
                          <label class="form-label" for="form6Example2">Initial budget</label>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="form6Example2" class="form-control" [(ngModel)]="TempProject.workload" name="workload"/>
                          <label class="form-label" for="form6Example2">Initial workload</label>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <select class="form-control" [(ngModel)]="TempProject.criticality" name="crucuality">
                            <option value="1">High</option>
                            <option value="2">Medium</option>
                            <option value="3">Low</option>
                          </select>
                          <label class="form-label" for="form6Example2">Crucuality</label>
                        </div>
                      </div> 
                    </div>
        
        
                  </form>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                  <button type="button" class="btn btn-primary">Confirmer</button>
                </div>
              </div>
            </div>
          </div>





          <!-- Modal HTML -->
          <div id="deletemodal" class="modal fade">
            <div class="modal-dialog modal-confirm">
              <div class="modal-content">
                <div class="modal-header flex-column">
                  <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                  </div>
                  <h4 class="modal-title w-100">Êtes-vous sûr?</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                  <p>Voulez-vous vraiment supprimer ces enregistrements ? Ce processus ne peut pas être annulé.</p>
                </div>
                <div class="modal-footer justify-content-center">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                  <button type="button" class="btn btn-primary"
                  (click)="deleteProject()" >Confirmer</button>
                </div>
              </div>
            </div>
          </div>




          <button style="width: 7rem;" type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal"
            data-bs-target="#UpdateModal" (click)="initUpdateModal(project)">
            <i class="fas fa-pencil-alt"></i>&nbsp; Modifier
          </button>
          &nbsp;&nbsp;<br />


          <button style="width: 7rem;" type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
            data-bs-target="#deletemodal" (click)="initDeleteModal(project)">
            <i class="fas fa-trash-alt"></i>&nbsp; Supprimer
          </button>
          &nbsp;&nbsp;<br />
          <a [routerLink]="['/project-members', project.id]">
            <button style="width: 7rem;" type="button" class=" btn btn-outline-secondary btn-sm">
              <i class="far fa-list-alt"></i>&nbsp; Members
            </button></a>
          &nbsp;
      </tr>
    </tbody>

  </table>




  <!-- ADD Modal -->
  <div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">New project</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form6Example1" class="form-control" [(ngModel)]="name"  name="name"/>
                  <label class="form-label" for="form6Example1">Project Label</label>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form6Example2" class="form-control" [(ngModel)]="budget"  name="budget"/>
                  <label class="form-label" for="form6Example2">Initial budget</label>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form6Example2" class="form-control" [(ngModel)]="workload" name="workload"/>
                  <label class="form-label" for="form6Example2">Initial workload</label>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <select class="form-control" [(ngModel)]="crucuality" name="crucuality">
                    <option value="1">High</option>
                    <option value="2">Medium</option>
                    <option value="3">Low</option>
                  </select>
                  <label class="form-label" for="form6Example2">Crucuality</label>
                </div>
              </div> 
            </div>


          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button (click)="addProject()" type="button" class="btn btn-primary">Confirmer</button>
        </div>
      </div>
    </div>
  </div>






</div>

<div id="snackbar">{{message}}</div>