

<div class="container">

<table >
    
        <tr>
          <td>
            <div class="hello" style="display: block;">
              <h2> Nombre des Demandes par mois </h2>
              <!--<canvas baseChart width="400" height="400" [type]="'line'" [data]="lineChartData" [options]="lineChartOptions"
                [legend]="lineChartLegend">
              </canvas>-->
              <iframe src="http://localhost:3000/d-solo/c9db0f50-6f6f-42ba-aae3-997f9bf1c05a/assigments?orgId=1&from=1672570038000&to=1701434307000&theme=light&panelId=1"
                width="450" height="200" frameborder="0"></iframe>
            </div>
          </td>
          <td>
            <div class="hello" style="display: block;">
              <h2> Nombre des Demandes par projet </h2>
              <!-- <canvas #pieCanvas></canvas> -->
              <iframe src="http://localhost:3000/d-solo/c9db0f50-6f6f-42ba-aae3-997f9bf1c05a/assigments?orgId=1&from=1672570038000&to=1701434307000&theme=light&panelId=2"
              width="450" height="200" frameborder="0"></iframe>

            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="hello" style="display: block;">
              <h2> Nombre des Demandes par mois </h2>
              <!--<canvas baseChart width="400" height="400" [type]="'line'" [data]="lineChartData" [options]="lineChartOptions"
                [legend]="lineChartLegend">
              </canvas>-->
              <iframe src="http://localhost:3000/d-solo/c9db0f50-6f6f-42ba-aae3-997f9bf1c05a/assigments?orgId=1&from=1672570038000&to=1701434307000&theme=light&panelId=1"
                width="450" height="200" frameborder="0"></iframe>
            </div>
          </td>
          <td>
            <div class="hello" style="display: block;">
              <h2> Nombre des Demandes par projet </h2>
              <!-- <canvas #pieCanvas></canvas> -->
              <iframe src="http://localhost:3000/d-solo/c9db0f50-6f6f-42ba-aae3-997f9bf1c05a/assigments?orgId=1&from=1672570038000&to=1701434307000&theme=light&panelId=2"
              width="450" height="200" frameborder="0"></iframe>

            </div>
          </td>
        </tr>
     
</table>
</div>
