<div class="row">
   <div class="col-md-5">
      <div style="width: fit-content;
      padding: 4% 10% 5% 3%;
      color: white;
      margin-bottom: 2rem;
      font-family: system-ui;
      font-size: x-large;
      font-weight: 600;
      background: linear-gradient(90deg, #0e5cd5, #4fa1f9);
      border-top-right-radius: 32px;
      border: solid #5889fd 3px;
      border-bottom-right-radius: 32px;"> &#9733; {{collabRole}}</div>
   </div>
   <div class="col-md-2">
   
   </div>
   <div class="col-md-2">
   
   </div>
   <div class="col-md-2">
      <p (click)="logout()" style="padding: 3%;
      border-radius: 32px;
      text-align: center;
      background: #dee2e6;
      cursor: pointer;">
         <img src="assets/logout.png" class="img-fluid " style="width: 2rem">
         <button type="button" class="btn btn-default btn-sm" >
            <span class="glyphicon glyphicon-log-out"></span> Logout
         </button>
      </p>
   </div>

</div>
<div class="row">
   <div class="col-md-10">
      <div class="input-group flex-nowrap">
         <input type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
         <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
         </div>
      </div>
   </div>


   <div class="col-md-8">
      
   </div>
   <div class="col-md-4">
      <div class="row">
         <div class="col-md-10 text-end">
            <span>Bonjour Wijden</span>
         </div>
        <!-- <div class=" col-md-2 ">
            <img src="favicon.ico" class="rounded-circle" />
         </div>-->
      </div>

      
   </div>
   
</div>