<div class="row">
   <div class="col-md-5">
      <div style="width: fit-content;
      padding: 4% 10% 5% 3%;
      color: white;
      margin-bottom: 2rem;
      font-family: system-ui;
      font-size: x-large;
      font-weight: 600;
      background: linear-gradient(90deg, #0e5cd5, #4fa1f9);
      border-top-right-radius: 32px;
      border: solid #5889fd 3px;
      border-bottom-right-radius: 32px;"> &#9733; {{collabRole}}</div>
   </div>
   <div class="col-md-2">
   
   </div>
   <div class="col-md-2">
   
   </div>

   <div class="col-md-2">
      <div class="btn-group dropend">
         <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Bonjour {{user.firstname}} {{user.lastname}}
         </button>
         <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/editprofile">  Edit Profile</a></li>
           <li><hr class="dropdown-divider"></li>
           <li><a class="dropdown-item" (click)="logout()" href="" ><i class="fa fa-sign-out"></i>
            <span> Logout</span></a></li>
         </ul>
       </div>
      
         
   </div>

</div>


<!--  <p (click)="logout()" style="padding: 3%;
      border-radius: 32px;
      text-align: center;
      background: #dee2e6;
      cursor: pointer;">
         <img src="assets/logout.png" class="img-fluid " style="width: 2rem">
         <button type="button" class="btn btn-default btn-sm" >
            <span class="glyphicon glyphicon-log-out"></span> Logout
         </button>
      </p> -->
