<div class="addnew">

  &nbsp;&nbsp;
</div>

<div class="container">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>

        <th>Nom</th>
        <th>prenom</th>
        <th>Speciality</th>
        <th>Projects</th>
        <th>globalScore</th>

        <th>numberofuserprojects</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons">


        <td> {{person.lastName}}</td>
        <td>{{person.firstName}}</td>
        <td>{{person.speciality}}</td>
        <td> {{person.nbrOfProjectsOfUser}}</td>
        <td> {{person.globalUserScore}}</td>

        <td> {{person.numberofuserprojects}}</td>
        <td>
          <!-- boutons action-->


          <!-- Update Modal -->
          <div class="modal fade" id="UpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title" id="exampleModalLabel">Mettre a jour l'utilisateur</h2>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  <form>
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="form6Example1" class="form-control" value={{person.firstName}} />
                          <label class="form-label" for="form6Example1">FirstName</label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="form6Example2" class="form-control" value={{person.lastName}} />
                          <label class="form-label" for="form6Example2">LastName</label>
                        </div>
                      </div>
                    </div>

                    <!-- Text input -->
                    <div class="form-outline mb-4">
                      <input type="text" id="form6Example3" class="form-control" value={{person.email}} />
                      <label class="form-label" for="form6Example3">speciality</label>
                    </div>

                    <!-- Text input -->
                    <div class="form-outline mb-4">
                      <input type="tel" id="form6Example4" class="form-control" value={{person.phoneNumber}} />
                      <label class="form-label" for="form6Example4">nbrOfProjectsOfUser</label>
                    </div>


                    <!-- Number input -->
                    <div class="form-outline mb-4">
                      <input type="number" id="form6Example6" class="form-control" />
                      <label class="form-label" for="form6Example6">matricule</label>
                    </div>

                    <!-- Text input -->
                    <div class="form-outline mb-4">
                      <input type="text" id="form6Example4" class="form-control" />
                      <label class="form-label" for="form6Example4">equipe</label>
                    </div>

                    <!-- Text input -->
                    <div class="form-outline mb-4">
                      <select type="text" id="form6Example4" class="form-control">
                        <option value="MEMBRE">MEMBRE</option>
                        <option value="ADMIN">ADMIN</option>
                        <option value="APPROBATEUR">APPROBATEUR</option>

                      </select>
                      <label class="form-label" for="form6Example4">Role</label>
                    </div>
                  </form>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Confirm</button>
                </div>
              </div>
            </div>
          </div>





          <!-- Modal HTML -->
          <div id="deletemodal" class="modal fade">
            <div class="modal-dialog modal-confirm">
              <div class="modal-content">
                <div class="modal-header flex-column">
                  <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                  </div>
                  <h4 class="modal-title w-100">Êtes-vous sûr?</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                  <p>Voulez-vous vraiment supprimer ces enregistrements ? Ce processus ne peut pas être annulé.</p>
                </div>
                <div class="modal-footer justify-content-center">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                  <button type="button" class="btn btn-primary">Confirm</button>
                </div>
              </div>
            </div>
          </div>




          <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#UpdateModal">
            <i class="fas fa-pencil-alt"></i>&nbsp; Modifier
          </button>
          &nbsp;&nbsp;


          <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deletemodal">
            <i class="fas fa-trash-alt"></i>&nbsp; Supprimer
          </button>
          &nbsp;&nbsp;

          <a [routerLink]="['/user-planning', person.id]" >
    <button type=" button" class=" btn btn-outline-secondary">
            <i class="far fa-list-alt"></i>&nbsp; Planning
            </button>
          </a>

          &nbsp;
      </tr>
    </tbody>

  </table>


  <!-- ADD Modal -->
  <div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Ajouter un utilisateur</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form6Example1" class="form-control" />
                  <label class="form-label" for="form6Example1">Nom</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form6Example2" class="form-control" />
                  <label class="form-label" for="form6Example2">Prenom</label>
                </div>
              </div>
            </div>

            <!-- Text input -->
            <div class="form-outline mb-4">
              <input type="text" id="form6Example3" class="form-control" />
              <label class="form-label" for="form6Example3">Email</label>
            </div>

            <!-- Text input -->
            <div class="form-outline mb-4">
              <input type="tel" id="form6Example4" class="form-control" />
              <label class="form-label" for="form6Example4">telephone</label>
            </div>


            <!-- Number input -->
            <div class="form-outline mb-4">
              <input type="number" id="form6Example6" class="form-control" />
              <label class="form-label" for="form6Example6">matricule</label>
            </div>

            <!-- Text input -->
            <div class="form-outline mb-4">
              <input type="text" id="form6Example4" class="form-control" />
              <label class="form-label" for="form6Example4">equipe</label>
            </div>

            <!-- Text input -->
            <div class="form-outline mb-4">
              <select type="text" id="form6Example4" class="form-control">
                <option value="MEMBRE">MEMBRE</option>
                <option value="ADMIN">ADMIN</option>
                <option value="APPROBATEUR">APPROBATEUR</option>

              </select>
              <label class="form-label" for="form6Example4">Role</label>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary">Confirmer</button>
        </div>
      </div>
    </div>
  </div>






</div>
<div id="snackbar">{{message}}</div>