<div class="container">
    <div class="row flex-lg-nowrap">

    
      <div class="col">
        <div class="row">
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <div class="e-profile">
                  <div class="row">
                  <div class="tab-content pt-3">
                    <div class="tab-pane active">
                      <form class="form" novalidate="">
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>First Name</label>
                                  <input class="form-control" type="text" name="firstname" placeholder="First Name" [(ngModel)]="user.firstname">
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label>Last Name</label>
                                  <input class="form-control" type="text" name="lastname" placeholder="Last Name" [(ngModel)]="user.lastname">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Email</label>
                                  <input class="form-control" type="text" name="email"  [(ngModel)]="user.email" >
                                </div>
                              </div>
                            </div>
                            <br>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Matricule</label>
                                  <input class="form-control" type="text" name="matricule" placeholder="Matricule" value="{{user.matcle}}" disabled>
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label>Team</label>
                                  <input class="form-control" type="text" name="Team" placeholder="Team" value="{{user.team.name}}" disabled>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 col-sm-6 mb-3">
                            <br>
                            <div class="mb-2"><b>Change Password</b></div>
                            <div class="row">
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>New Password</label>
                                  <input class="form-control" type="text" name="password" placeholder="••••••"  [(ngModel)]="password">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                                  <input class="form-control" type="text" name="passwordConfirmation" placeholder="••••••"  [(ngModel)]="passwordConfirmation"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit" (click)="confirmUpdate()">Save Changes</button>
                          </div>
                        </div>
                      </form>
    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
      </div>
    </div>
    </div>

    <div id="snackbar">{{message}}</div>